
.jumbotron{ 
	background-image: url( https://www.gannett-cdn.com/presto/2020/07/29/PJAT/6e92c95c-4185-4949-b098-cee0c1084ef9-campaigning_04.jpg?width=1320&height=882&fit=crop&format=pjpg&auto=webp );
	background-size: cover; 
	background-repeat: no-repeat; 
    height: 250px;
	text-emphasis: Bold;
	
}  
table {
	
	 border-width: 10;
	 border-style: solid;
	 border-color: black;
	 width: 80%;
	 height: 80%;
	 text-align: center;
	
	
 }
 .Third {
	 background-color:lightskyblue;
	 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
 }
 .Fourth {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-color:lightpink
 }
 .Fifth {
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 background-color: lightsalmon;
 }
 tr:nth-child(even) {
	 background-color: rgba(150, 212, 212, 0.4);
   }
   
   th:nth-child(even),td:nth-child(even) {
	 background-color: rgba(150, 212, 212, 0.4);
   }





