
.jumbotron{ 
	background-image: url( https://www.gannett-cdn.com/presto/2020/07/29/PJAT/6e92c95c-4185-4949-b098-cee0c1084ef9-campaigning_04.jpg?width=1320&height=882&fit=crop&format=pjpg&auto=webp );
	background-size: cover; 
	background-repeat: no-repeat; 
    height: 250px;
	text-emphasis: Bold;
	
}  

